[submodule "src/neo_srvs2"]
	path = src/neo_srvs2
	url = https://github.com/neobotix/neo_srvs2
	branch = master
[submodule "src/neo_msgs2"]
	path = src/neo_msgs2
	url = https://github.com/neobotix/neo_msgs2
	branch = master
[submodule "src/neo_localization2"]
	path = src/neo_localization2
	url = https://github.com/neobotix/neo_localization2.git
	branch = humble
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros
	branch = ros2-development
[submodule "src/neo_common2"]
	path = src/neo_common2
	url = https://github.com/neobotix/neo_common2
	branch = master
[submodule "src/neo_local_planner2"]
	path = src/neo_local_planner2
	url = https://github.com/neobotix/neo_local_planner2.git
	branch = humble
[submodule "src/neo_teleop2"]
	path = src/neo_teleop2
	url = https://github.com/neobotix/neo_teleop2
	branch = humble
[submodule "src/neo_sick_s300-2"]
	path = src/neo_sick_s300-2
	url = https://github.com/neobotix/neo_sick_s300-2
	branch = humble
[submodule "src/neo_mpo_moveit2"]
	path = src/neo_mpo_moveit2
	url = https://github.com/neobotix/neo_mpo_moveit2.git
	branch = main
[submodule "src/neo_relayboard_v2-2"]
	path = src/neo_relayboard_v2-2
	url = https://github.com/neobotix/neo_relayboard_v2-2
	branch = humble
[submodule "src/neo_mpo_700-2"]
	path = src/neo_mpo_700-2
	url = https://github.com/neobotix/neo_mpo_700-2.git
[submodule "src/neo_kinematics_omnidrive2"]
	path = src/neo_kinematics_omnidrive2
	url = https://github.com/neobotix/neo_kinematics_omnidrive2.git
[submodule "src/joystick_drivers"]
	path = src/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers.git
[submodule "src/ros2_robotiq_gripper"]
	path = src/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
