controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    pan_tilt_controller:
      type: joint_trajectory_controller/JointTrajectoryController

pan_tilt_controller:
  ros__parameters:
    joints:
      - pan_joint
      - tilt_joint
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity
    
    state_publish_rate: 50.0
    action_monitor_rate: 20.0
    
    allow_partial_joints_goal: false
    open_loop_control: false
    allow_integration_in_goal_trajectories: true
